.header-cart {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cart .btn-cart {
    background-color: rgb(245, 245, 247);
    border: none;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.header-cart .btn-cart button {
    font-size: 30px;
    background-color: rgb(245, 245, 247);
    cursor: pointer;
}

.header-cart .btn-cart span {
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 12px;
    color: red;
}

/*  */
.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    place-content: end;
}

.pop-up .box-pop-up {
    width: 70%;
    height: 100%;
    background-color: #ffff;
    display: flex;
}

.pop-up .box-pop-up .table-pop-up {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.pop-up .box-pop-up .table-pop-up .header-pop-up {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}

.pop-up .box-pop-up .table-pop-up .header-pop-up .close-pop-up {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 23px;
    cursor: pointer;
}

.pop-up .box-pop-up .table-pop-up .list-pop-up {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 800px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #ffff;
    overflow-y: scroll;
}

.pop-up .box-pop-up .table-pop-up .list-pop-up .item-pop-up {
    display: flex;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}


.pop-up .box-pop-up .table-pop-up .list-pop-up .item-pop-up .image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pop-up .box-pop-up .table-pop-up .list-pop-up .cherry {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.pop-up .box-pop-up .table-pop-up .list-pop-up .cherry button {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

.pop-up .box-pop-up .table-pop-up .list-pop-up .close button {
    padding: 5px 10px;
    font-size: 15px;
    background-color: #ffff;
    cursor: pointer;
}

.payment {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;

}

.payment button {
    padding: 15px 30px;
    background-color: blue;
    color: #ffff;
    border-radius: 5px;
}