.App{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.dark-open{
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}